# ----------
# R
# ----------

.Rproj.user
.Rhistory
.RData
.Ruserdata

rclass2.Rproj

# ----------
# TeX
# ----------

*.tex
!lectures/beamer_header.tex

# ----------
# MacOS
# ----------

*.DS_Store
.DS_Store
__MACOSX/

# ----------
# Other
# ----------

lectures/organizing_and_io/research_project/
